header {
  padding: 20px;
  height: 100px;
}

.logo {
  color: rgb(15, 21, 110);
  font-size: 25px;
  font-weight: bold;
  float: left;
}

.menu {
  float: right;
}

a {
  text-decoration: none;
  color: rgb(15, 21, 110);
}

li {
  list-style: none;
  float: left;
  padding-right: 25px;
  font-weight: bold;
}

main {
  position: relative;
}

h2 {
  width: 70%;
  font-size: 65px;
  font-weight: lighter;
  position: absolute;
  top: 60%;
  border-bottom: 200px solid rgb(15, 21, 110);
}

img {
  display: block;
  width: 50%;
  position: relative;
  margin: 30px 0 0 auto;
}
