header {
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgb(15, 21, 110);
  font-size: 25px;
  font-weight: bold;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(15, 21, 110);
}

li {
  list-style: none;
  padding-right: 25px;
  font-weight: bold;
}

main {
  position: relative;
}

h1 {
  width: 70%;
  font-size: 65px;
  font-weight: lighter;
  position: absolute;
  top: 60%;
  border-bottom: 200px solid rgb(15, 21, 110);
  z-index: -1;
}

img {
  display: block;
  width: 50%;
  margin: 30px 0 0 auto;
}
